.heading{
    text-align: center;
}

.order{
   margin: 12px;
   border: 1px solid;
   border-radius: 8px;
   padding: 16px;
}

.order-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: 8px;
}