.heading {
    text-align: center;
}

.food-img {
    margin-right: 12px;
    height: 100%;
}

.food-name {
    font-weight: bold;
}

.menu {
    padding: 4px;
}

.item {
    margin-bottom: 4px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: 8px;
    border: 1px solid;
}

.qty-input {
    display: flex;
    justify-content: space-between;
    height: 1.5rem;
    border: 2px solid #6400a4;
    border-radius: 0.25rem;
    background: #6400a4;
}

.increment, .decrement {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1rem;
    color: white;
    background: transparent;
    border: none;
}

.qty-val {
    padding: 0 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.hidden{
    display: none;
}



