/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: auto;
}

body {
    /* font-family: sans-serif; */
    background: #6f00ff10;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    border-color: black;
}

/* MAIN STYLES */
.appbar {
    position: sticky;
    top: 0;
    padding: 1rem;
    background: #ff004c;
    background: #6400ac;
    /* background: #333; */
    color: white;
    box-shadow: 0 2px 8px #0003;
}

.appbar a {
    color: white;
}

.hamburger, .hamburger::before, .hamburger::after {
    width: 1.5rem;
    height: 0.15rem;
    background: white;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    display: inline-block;
}

.hamburger::before {
    transform: translateY(-0.4rem);
}

.hamburger::after {
    transform: translateY(0.4rem);
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    text-align: center;
}

.nav-links li {
    padding: 0.175rem;
}

.hidden {
    display: none;
}

.navbar .nav-links{
    display: flex;
}

.navbar .nav-links li{
    padding: 12px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
    background: #6400ac;
    color: white;
}

.navbar a {
    color: white;
}

.heading {
    margin: 1rem 0 2rem;
    font-size: 2.25rem;
    text-align: center;
}

.no-content {
    font-size: 1.25rem;
    text-align: center;
}

.error {
    color: #ff224e;
    text-align: center;
    font-size: 0.95rem;
}

.btn {
    padding: 0.3125rem 0.5rem;
    border: 2px solid;
    border-radius: 1rem;
    border-color: #6400ac;
    background-color: #6400ac10;
    color: #6400ac;
    font-size: 1.1rem;
    font-weight: 500;
}

.blue-link, .red-link {
    font-size: 1.1rem;
    font-weight: 500;
}

.blue-link {
    color: #0077e7;
}

.red-link {
    color: #ee2049;
}