body {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    text-align: center;
}

.update-employee {
    padding: 15px;
    margin-bottom: 12px;
}

.update-employee input[type=submit] {
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}