<!DOCTYPE html>
<html>

    <%- include("../../partials/head.ejs") %>

    <body>
        <%- include('../../partials/navbar.ejs') %>

        <form action="/staff/food-items/add" method="post" class="form" encType="multipart/form-data">

            <h1 class="heading">ADD FOOD ITEM</h1>

            <div class="form-input">
                <label for="name">NAME</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-input">
                <label for="price">PRICE</label>
                <input type="number" step="any" id="price" name="price" min="0" max="1000" required>
            </div>

            <div class="form-input">
                <label for="image">IMAGE</label>
                <input type="file" id="file" name="image">
            </div>

            <input type="submit" class="btn form-submit" value="ADD">

        </form>

    </body>

</html>